* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(25, 50, 60);
    --secondary-color: rgb(243, 247, 240);
}

body {
    background: var(--main-bg-color);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mem-slider {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-areas:
        'mem mem'
        'text control';
}

.input {
    visibility: hidden;
    width: 0%;
    height: 0%;
}

.mems {
    grid-area: mem;
    overflow: hidden;
    border-radius: 1rem;
    max-width: 40rem;
}

.mems_imgs {
    display: flex;
    transition: 0.3s ease-in-out;
}

.img {
    width: 100%;
    object-fit: fill;
}

.mem-titles {
    height: 4rem;
    grid-area: text;
    align-self: center;
    justify-self: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-list {
    height: 1.7rem;
    width: 12rem;
    display: flex;
    overflow: hidden;
}

.title-item {
    color: white;
    min-width: 31rem;
    margin: 0;
    white-space: nowrap;
    transition: transform 0.3s linear;
}

.control-list {
    justify-self: end;
    align-self: center;
    align-items: center;
    display: flex;
    grid-area: control;
}

.control-list label {
    width: 2rem;
    height: 2rem;
    display: flex;
}

.control-list label:hover {
    cursor: pointer;
}

.control-list label:active>.control-item {
    transform: scale(0.75);
}

.control-item {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #e6d11c;
    border: 0.2rem solid #e6d11c;
    margin: auto;
    align-self: center
}


label:hover .control-item {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.input_slide-1:checked~.control-list label[for=slide-1] .control-item,
.input_slide-2:checked~.control-list label[for=slide-2] .control-item,
.input_slide-3:checked~.control-list label[for=slide-3] .control-item,
.input_slide-4:checked~.control-list label[for=slide-4] .control-item,
.input_slide-5:checked~.control-list label[for=slide-5] .control-item {
    background-color: transparent;
}

.input_slide-1:checked~.mems .mems_imgs,
.input_slide-1:checked~.mem-titles .title-list .title-item {
    transform: translateX(0);
}

.input_slide-2:checked~.mems .mems_imgs,
.input_slide-2:checked~.mem-titles .title-list .title-item {
    transform: translateX(-100%);
}

.input_slide-3:checked~.mems .mems_imgs,
.input_slide-3:checked~.mem-titles .title-list .title-item {
    transform: translateX(-200%);
}

.input_slide-4:checked~.mems .mems_imgs,
.input_slide-4:checked~.mem-titles .title-list .title-item {
    transform: translateX(-300%);
}

.input_slide-5:checked~.mems .mems_imgs,
.input_slide-5:checked~.mem-titles .title-list .title-item {
    transform: translateX(-400%);
}

@media screen and (max-width: 768px) {
    .mem-slider {
        grid-template-areas:
            'mem'
            'control'
            'text';
    }

    .control-list {
        justify-self: center;
        align-self: center;
        height: 3rem;
    }

    .mem-titles {
        align-self: start;
        justify-self: start;
        align-items: baseline;
    }
}